/* line 1, ../../sass/content/blue-product.sass */
.blue-product {
  width: 180px;
  height: 180px;
  background: #4eb9f4;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 200px;
}
/* line 8, ../../sass/content/blue-product.sass */
.blue-product .none {
  background: rgba(78, 185, 244, 0.6);
}
