/* line 1, ../../sass/content/orange-product.sass */
.orange-product {
  width: 180px;
  height: 180px;
  background: #e48f23;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 200px;
}
/* line 8, ../../sass/content/orange-product.sass */
.orange-product .none {
  background: rgba(228, 143, 35, 0.6);
}
/* line 11, ../../sass/content/orange-product.sass */
.orange-product a img {
  margin-top: 6px;
  margin-left: 9px;
}
