/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 8, ../sass/ie.sass */
.red-product .none {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ff5649, endColorstr=#99ff5649)";
}

/* line 12, ../sass/ie.sass */
.blue-product .none {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#994eb9f4, endColorstr=#994eb9f4)";
}

/* line 16, ../sass/ie.sass */
.orange-product .none {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99e48f23, endColorstr=#99e48f23)";
}

/* line 20, ../sass/ie.sass */
.green-product .none {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#996fc125, endColorstr=#996fc125)";
}
